@import "tailwindcss";

@theme {
  /* Colors */
  --color-kinetic-primary: #0C83EF;
  --color-kinetic-secondary: #6793F4;
  --color-kinetic-dark: #000000;
  --color-kinetic-light: #FFFFFF;
  --color-kinetic-bg: #F8FAFC;

  /* Custom Gradient */
  --background-image-gradient-kinetic: linear-gradient(135deg, #0C83EF 0%, #6793F4 100%);
}